# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# AI model
models/

# Training outputs / checkpoints
outputs/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# IDE
.vscode/
.idea/